#myChart1,
#myChart {
  width: 100%;
  position: relative;
  background: rgba(171, 171, 171, 0.1);
  box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.3);
  position: relative;
  border-color: rgba(225, 225, 225, 0.5);
  color: #a7a3f8;
  border-radius: 0.8rem;
  padding-bottom: 20px;
  cursor: pointer;
}

#myChart1 {
  margin-bottom: 50px;
}
.result {
  margin-top: 100px;
}

.box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #a7a3f8;
  margin: 0;
  padding: 8px 15px 8px 15px;
  border-radius: 0;
  font-size: 0.4rem !important;
}

.box-head {
  border-radius: 0.8rem 0.8rem 0 0;
}

.percentBox {
  background: rgba(171, 171, 171, 0.1);
  border-radius: 0.8rem;
  margin: 3rem;
  min-height: 50px;
  /* width: 100%; */
  /* padding-right: var(--bs-gutter-x,.75rem);
    padding-left: var(--bs-gutter-x,.75rem); */
}

/* .box:hover {
  -webkit-transform: translate(0px, -3px) scale(1);
  transform: translate(0px, -3px) scale(1);
  cursor: pointer;
} */

.left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.color1 {
  background-color: rgb(255, 99, 132);
  height: 30px;
  width: 30px;
  border-radius: 0.2rem;
}

.color2 {
  background-color: rgb(54, 162, 235);
  height: 30px;
  width: 30px;
  border-radius: 0.2rem;
}

.color3 {
  background-color: rgb(255, 205, 86);
  height: 30px;
  width: 30px;
  border-radius: 0.2rem;
}

.color4 {
  background-color: rgb(254, 105, 56);
  height: 30px;
  width: 30px;
  border-radius: 0.2rem;
}

.dropdown-divider {
  margin: 0;
  color: #a7a3f8;
  border: 1px solid #a7a3f8;
}

.part {
  padding-left: 10px;
}

.percent {
  display: flex;
  justify-content: end;
}

.homey {
  background-color: #fc9741;
  border: none;
  color: white;
  border-radius: 0.3rem;
}

.homey:hover {
  -webkit-transform: translate(0px, -3px) scale(1);
  transform: translate(0px, -3px) scale(1);
  background-image: linear-gradient(90deg, rgb(254, 207, 0), rgb(232, 126, 12));
}

/* X-Small devices (portrait phones, less than 576px) */
@media (min-width: 576px) {
  .percentBox {
    margin: 5rem;
  }
}

/* Small devices (landscape phones, less than 768px) */
@media (min-width: 768px) {
  .percentBox {
    margin: 5rem;
  }
}

/* Medium devices (tablets, less than 992px) */
@media (min-width: 992px) {
  .percentBox {
    margin: 5rem;
  }
}

/* Large devices (desktops, less than 1200px) */
@media (min-width: 1200px) {
  .percentBox {
    margin: 8rem;
  }
}

/* X-Large devices (large desktops, less than 1400px) */
@media (min-width: 1400px) {
  .percentBox {
    margin: 8rem;
  }
}
