.login {
    padding-top: 20px;
    -webkit-box-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    align-items: center;
    position: absolute;
}

.login-title {
    padding-top: 20px;
}

.logo {
    margin-bottom: 40px;
}