.button {
    padding: 5px 15px 5px 15px;
    box-shadow: 0px 17px 10px -10px rgba(0, 0, 0, 0.4);
    -webkit-transition: all ease-in-out 300ms;
    transition: all ease-in-out 300ms;
    font-size: 1.05rem;
    background-color: black;
}

.button:hover {
    box-shadow: 0px 37px 20px -20px rgba(0, 0, 0, 0.2);
    -webkit-transform: translate(0px, -5px) scale(1.1);
    transform: translate(0px, -5px) scale(1.1);
}




/*For Desktop*/
@media (min-width: 768px) {
    .intro {
        width: 50%;
    }
}

