@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Montserrat:wght@300;400;700&family=Source+Sans+Pro:wght@600&display=swap');


:root {
    --bs-gradient: linear-gradient(90deg, rgb(23, 15, 61), rgb(13, 2, 47));
    --bs-gradients: linear-gradient(90deg, rgb(181, 37, 228), rgb(234, 32, 231));
    font-size: 0.8rem;
}

body {
    font-family: 'Libre Baskerville', serif;
}

.text-gradients {
    background: -webkit-linear-gradient(#fecf00, #e87e0c);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-plain {
    background: -webkit-linear-gradient(white, white);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(90deg, rgb(23, 15, 61), rgb(13, 2, 47));;
    color: white;
    height: 10vh;
}



.burger {
    display:none;
    cursor: pointer;

}

.burger div {
    width: 25px;
    height: 3px;
    background-color: #fc9741;
    margin: 5px;
    
}

.nav-links {
    display: flex;
    justify-content: space-between;
    width: 30%;
    padding-right: 30px;
    font-size: 1rem;

}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: white;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: bold;
}

.active {
    border: 1px solid #fc9741;
    border-radius: 30px;
    padding: 5px;
}

.button {
    padding: 5px 15px 5px 15px;
    box-shadow: 0px 5px 2px -2px rgba(0, 0, 0, 0.4);
    -webkit-transition: all ease-in-out 100ms;
    transition: all ease-in-out 100ms;
    font-size: 1.05rem;
    background-color: #fc9741;
}



.drop {
    background-color:#b525e4;
    
}


.button:hover {
    
    -webkit-transform: translate(0px, -3px) scale(1.0);
    transform: translate(0px, -3px) scale(1.0);
    background-image: linear-gradient(90deg, rgb(254, 207, 0), rgb(232, 126, 12));
}

.button-space {
    padding-left: 70px;
    padding-bottom: 10px; 
}

.outline-button {
    border-radius: 50px;
    border-color: #fc9741;
}

.outline-button:hover {
    background-image: linear-gradient(90deg, rgb(254, 207, 0), rgb(232, 126, 12));
}

.bg-gradient {
    background-image: var(--bs-gradient);
}

.bg-gradients {
    background-image: var(--bs-gradients);
}




.card {
    border-radius: 1rem;
    backdrop-filter: blur(4rem);
    background: rgba(171, 171, 171,0.1);
    box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.3);
    position: relative;
    border-color: rgba(225, 225, 225, 0.5);
    color:#a7a3f8;
    
}

/*CARD FILL OF GRADIENT COLOR BEGINS*/


/**
.card::before {
    content: "";
    position:absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background: linear-gradient(
        0deg,
        #59fc72,
        #02bafc
    );
    width: 0;
    height: 0;
    z-index: -1;
    border-radius: inherit;


}



.card:hover:before {
    animation: fill .7s ease-in-out forwards;
}

*/

/*CARD FILL PF GRADIENT COLOR ENDS*/

.profile-img {
    width: 7em;
    height: 7em;
    margin: -4em auto 0 auto;
    border-radius: 50%;
    background: linear-gradient(
        0deg,
        #ea20e7,
        #b525e4
    );
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 0 0.2em #26293e;
    
}

.card:nth-child(2) .profile-img, .card:nth-child(2)::before {
    background: linear-gradient (
        0deg,
        #ffc15d,
        #ff4e57
    );
}
.profile-img img {
    width: 90%;
    height: 90%;
    
    border-radius: inherit;
    
    
}

.footer {
    margin-bottom: 1rem;
    font-size: 1.25rem;
    padding-top: 50px;
}

.footer-heading {
    font-size: 1.4rem;
}

.heading-start {
    padding-bottom: 80px;
}
.candidates-can {
    margin-top: 40px;
    margin-bottom: 60px;
}
.footer-footer {
    padding-top: 50px;
}



blockquote {
    display: block;
    font-size: 80%;
}

blockquote p {
    font-size: 14px;
}



@keyframes fill {
    40% {
        width: 100%;
        height: 0.5em;
    }

    50% {
        width: 100%;
        height: 0.5em;
    }

    100% {
        width: 100%;
        height: 100%;
    }
}




/*For Desktop*/
@media (min-width: 768px) {
    .intro {
        width: 50%;
    }
    .allcards {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

/*FOR MOBILE */

@media (max-width: 1024px) {
    .nav-links {
        width: 60%;
    }
}

@media (max-width: 768px) {
    

    .nav-links {
        position:absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        display: none;
        text-align: center;
        flex-direction: column;
        align-items: center;
        padding-top: 40px;
        width: 50%;
        background-image: linear-gradient(90deg, rgb(23, 15, 61), rgb(13, 2, 47));
        backdrop-filter: blur(4rem);
        z-index: 1;
    }

    .vote {
        padding-bottom: 90px;
    }



    .burger {
        display: block;
    }

    
    .allcards {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .active {
        padding: 1px 0 1px 0 ;
    }

    .is-active {
        display:block;
        
    }

    .whitepaper {
        padding-top: 20px;
    }
}




.burger.is-active .line1 {
    transform: translate(0px, 8px) rotate(-45deg);
}

.burger.is-active .line2 {
    opacity: 0;
    transform: translate(15px);
}

.burger.is-active .line3 {
    transform: translate(0px, -8px) rotate(45deg);
}